name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    
    name: Build image
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write
      contents: write
    
    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@master
      with:
        role-to-assume: arn:aws:sts::678092784151:assumed-role/voclabs/user1973674=Nivetha_Narayanaswamy
        aws-region: us-east-1


    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      
    - name: Build, tag and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: myrepo_clo835
        IMAGE_TAG: ${{ github.sha }}
    
      run: 
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
